*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Global reset to remove the white frame */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #07492d; /* matches your navbar bg */
}


/* Optional: set your base font + background */
body {
  font-family: Nunito, system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  background: #07492d; /* or a lighter background if you want the page not all green */
}

/* Global link reset */
a {
  color: inherit;
  text-decoration: none;
}


